body {

  background-image: url('https://wallpapers.com/images/hd/pokeball-2560-x-1440-background-vqdyaksc7n3shdnc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

